<div class="col-md-12 mx-auto m-4">
    <div class="card">
    <div class="card-header">
        <h1>About</h1>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste numquam assumenda modi excepturi, exercitationem quis repudiandae voluptates? Autem dolores odit similique optio aliquam rem, vero quas recusandae et quam saepe, quia tempora doloribus reprehenderit illo, fugiat quidem repellat quod aspernatur.</p>
    
    </div>
</div>
</div>