<div class="jumbotron mt-4">
<h1 class="display-4">iot avanzado</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<hr class="my-4">

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quae laudantium obcaecati totam, quos maiores aut recusandae facere officiis quibusdam illum aliquam quaerat illo laboriosam optio sit, minima, eligendi neque.</p>

<a href="http://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>