body{
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.jumbotron{
    background: #FFFFFF;
    border: 2px solid #000000;
    border-style: solid;
    border-radius:22px;
    padding: 20px;

}
.btn.btn-primary {
    width: 100%; 
  }

.form-group{

    padding: 7px;
  }

.footer {
background-image: url("https://i.stack.imgur.com/AZ2Xw.png");
background-position: center center;
background-repeat: no-repeat;
position: absolute;
margin-top: 580px;
width: 100%;
height: 300px; /* Set the fixed height of the footer here */
}

#myRange{
  width: 90%;
}

.btn-group{

  width: 100%;
}