<h1>Todo los sensores</h1>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1>ingresar server y topic</h1>
            </div>
            <div class="card-body">
                <form action="/iot/new-sensor" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="topic" class="form-control" placeholder="Topic">
                    </div>
                    <div class="form-group">
                        <input type="text" name="value" class="form-control" placeholder="Value">
                    </div>
                    <div class="form-group">
                        <input type="text" name="status" class="form-control" placeholder="Status">
                    </div>
                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>