<div class="row mt-4">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1>ingresar server y topic</h1>
                <div id="elh1">
                    
                </div>
            </div>
            <div class="card-body">
                <form action="/iot/new-sensor" method="POST">                
                        <div class="form-group">
                              <input type="range" class="form-range" id="myRange" name="value" > <span for="value" class="label label-primary" id='slidelabel'></span>
                        </div>
                   
                   
                    <div class="form-group">
                        <input type="text" name="topic" class="form-control" placeholder="Topic">
                        
                           
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>